.formContainer{
  margin-top: auto;
  border-radius: 20px;
  display: flex;
  width: 100%;
  max-width: 600px;

  form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  
    input{
      flex:1;
      padding: 20px;
      background-color: transparent;
      border: none;
      outline: none;
    }

    button {
      background-color: transparent;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
    }  
  }
}

.send-icon {
  transition: transform 0.3s ;
  margin-right: 10px;

  &:hover{
    transform: scale(1.2);
  }
}

.newForm{
  width: 100%;
  max-width: 600px;
  position: absolute;
  bottom: 0;
  background-color: #e2e2e2c2;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 50px;

  input{
    flex:1;
    padding: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #263035;
  }

  button, label{
    background-color: transparent;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
    width: 25px;
    height:25;
    }
  }
}

  
  
    